h1{
	margin-right: 100px;
	margin-left: 100px;
	text-align: left;
}


section{
	margin-right: 100px;
	margin-left: 100px;
	text-align: left;
}

#divOne{
	top: 0;
	left: 0;
	position: fixed;
	color: gray;
	background: #eee;
	width: 150px;
	height: 100px;
}

#divTwo{
	position: relative;
	color: gray;
	height: 125px;
	background: #eee;
	width: 100%;
}

#divThree{
	position: absolute;
	color: #999;
	width: 10%;
	background: #999;
	right: 0;
	bottom: 0;
	height: 60px;
}

